body{
    margin: 0;
    padding: 0;
    background-color: rgb(158, 195, 228);
}

h1{
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: rgb(128, 9, 226);
}

selection-card-container{
    background-color: rgb(5, 60, 179);
    width:90%;
    max-width:350px;
    margin: 20px auto;
    padding-bottom: 10px;
    
}