*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: #f0f0f0;
    padding: 20px;
}

h1{
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.profile-image{
    margin-top: 20px;
    text-align: center;
}

.profile-image img{
    display: block;
    margin: 0 auto;
}