body {
    background-color: rgb(178, 206, 231);
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
    padding-top: 10px;
}

.check-box {
    background-color: rgb(40, 105, 243);
    width: 90%;
    max-width: 350px;
    margin: 20px auto;
    padding-bottom: 10px;
    border-radius: 10px;
}

fieldset {
    border: 2px solid rgb(140, 7, 173);
    border-radius: 10px;
    background-color: rgb(106, 82, 236);
    margin: 10px 20px;
    padding: 15px;
}

legend {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: rgba(2, 87, 9, 0.897);
}

label {
    display: block;
    padding: 5px;
    margin: 5px 0;
    color: rgb(13, 12, 14);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    appearance: none;
    border: 2px solid rgb(9, 71, 243);
    background-color: rgb(40, 131, 192);
    cursor: pointer;
    transition: all 0.3s;
    vertical-align: middle;
}

input[type="checkbox"]:checked {
    background-color: rgb(40, 105, 243);
}

input[type="checkbox"]:checked::after {
    content: "✓";
    background-color: white;
    display: block;
    text-align: center;
    line-height: 12px;
    font-size: 12px;
}